/* Selepe Sello u20748052 */

#findCarResults {
    display: none;
}

#playes_div {
    margin-top: 20px;
    margin-bottom: 0;
}

#imagelogo {
    opacity: 0.9;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 30px;
    border-radius: 0.5em;
    border: 2px solid rgba(11, 94, 157, 0.849);
}
.gameLoop {
    display: inline-block;
    margin-bottom: 50px;
    width: 110px;
    height: 40px;
    color: rgb(25, 24, 24);
    border-radius: 7px;
    padding: 1px 3px;
    font-weight: 600;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
    background-image: linear-gradient(to bottom, #adadad, #2d2c2c);
    line-height: 30px;
}

.gameLoop:hover {
    color: white !important;
    background-image: linear-gradient(to bottom, #504f4f, #000000);
}
/* File and Body CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(193, 193, 193);
    background-color: rgba(26, 14, 14, 0.315);
    line-height: 1.8;
    text-align: center;
    text-decoration-color: rgb(190, 190, 190);
}

h1, hr {
    margin-left: 55px;
    margin-right: 55px;
    border-radius: 9px;
}

hr {
    background-color:rgb(231, 231, 231);
}


.page-name-purpose {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 231, 231);
    font-weight: 600;
    font-size: 60px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.background-find-car {
    background: url("Background.png") no-repeat center center fixed;
    background-color: rgba(26, 14, 14, 0.315);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page-name-find{
    color: rgb(192, 190, 255);
}

.main-form {
    max-width: 700px;
    min-width: 60%;
    font-family: "Lucida Console", "Courier New", monospace;
    background: rgba(0, 0, 0, 0.793);
    border: 2px solid rgba(72, 71, 97, 0.849);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
    color: rgb(192, 190, 255);
    display: inline-block;
}

.main-form-label {
    margin-top: 20px;
    margin-bottom: 3px;
    width: 20%;
}

#find-car-type-of-fuel .select-options {
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: center;
    border: 0.1px solid transparent;
    background-color: rgba(0, 0, 0, 0.661);
}

#find-car-type-of-fuel .select-options:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.824);
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
}

#form-title-pref {
    margin-bottom: 35px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    -webkit-text-stroke: 1px rgba(21, 22, 22, 0.792); /* width and color */
}

.required {
    color: red;
    display: inline;
}

.main-form input[type=text] {
    min-width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(47, 47, 47, 0.364);
    border: none;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    outline: none;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin: 6px;
    color: rgb(192, 190, 255);
    padding: 12px 5px;
}

::placeholder{
    color: #78797c;
}

#find-car-submit, #generateID{
    margin-bottom: 20px;
    margin-top: 30px;
}